language: python
python:
  - "2.6"
  - "2.7"
  - "3.3"
  - "3.4"
  - "pypy"
  - "pypy3"
install:
  - make deps
  - make deps-test
script:
  - coverage run --source=yarg runtests.py
after_success:
  - coveralls
